:root {
  --primary-title-color: #303030;
  --primary-title-color-dark-bg: #FFFFFF;
  --primary-text-color: #555555;
  --primary-text-color-dark-bg: #9DA4BD;
  --background-color-white: #E5E5E5;
  --background-color-grey: #F7F7F7;
  --background-color-black: #191C26;
  --accent-color: #FF6C00;
}